@import "../../../styles/styles";

/* Common styles for both own and other messages */
.message {
  display: flex;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  max-width: 60%;
  position: relative;

  .dotMenu {
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
    color: $timestamp-color;
  }
  .messageContent {
    font-size: 16px;
    color: $text-color;
  }

  .messageTimestamp {
    font-size: 12px;
    margin-top: 5px;
    color: $timestamp-color;
  }

  &.ownMessage {
    align-self: flex-end;
    background-color: $primary-color;
  }

  &.otherMessage {
    align-self: flex-start;
    background-color: $other-message-bg;
    border: 1px solid $border-color;
  }

  .customMenu {
    position: absolute;
    right: 10px;
    top: 40px;
    background-color: $menu-bg-color;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;

    .menuItem {
      padding: 10px;
      font-size: 14px;
      cursor: pointer;
      &:hover {
        background-color: $menu-hover-bg;
      }
    }
  }

  /* Style for rendering the menu upwards */
  .upwards {
    top: auto;
    bottom: 40px; // Adjust this based on the height of the message
  }
}
