@import "../../../styles/styles";

/* Common styles for both own and other messages */
.message {
  display: flex;
  border-radius: 10px;
  padding: 0.625rem;
  margin: 0.3125rem;
  max-width: 60%;
  position: relative;

  .dotMenu {
    cursor: pointer;
    margin-left: 0.625rem;
    font-weight: bold;
    color: $timestamp-color;
  }

  .messageContent {
    font-size: 16px;
    color: $text-color;
  }

  .messageTimestamp {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    margin-top: 0.3125rem;
    color: $timestamp-color;

    .icons{
      display: flex;
      margin-left: 5px;
      justify-self: center;
    }
  }

  &.ownMessage {
    align-self: flex-end;
    background-color: $primary-color;
  }

  &.otherMessage {
    align-self: flex-start;
    background-color: $other-message-bg;
    border: 1px solid $border-color;
  }

  .customMenu {
    position: absolute;
    right: 10px;
    top: 40px;
    background-color: $menu-bg-color;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;

    .menuItem {
      padding: 0.625rem;
      font-size: 0.875rem;
      cursor: pointer;

      &:hover {
        background-color: $menu-hover-bg;
        border-radius: 5px;

      }
    }
  }

  .upwards {
    top: auto;
    bottom: 40px;
  }
}