@import '../../../styles/styles';

.outerContainer {
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: $secondary-color;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

.modalContainer {
  background-color: $primary-color;
  width: 40vh;
  border: 2px solid $primary-color;
  box-shadow: 0px 0px 30px $primary-color;
  border-radius: 20px;
  padding: 16px;
}

.closeBar {
  display: flex;
  align-items: center;
  justify-content: end;

}

.closeButton {
  color: $secondary-color;
  font-size: 32px;

  &:hover {
    text-shadow: 0 0 10px $secondary-color;
    cursor: pointer;
  }
}

// .closeButton:hover{
//   text-shadow: 0 0 10px $secondary-color;
//   cursor: pointer;
// }

.childContainer{
  display:flex;
  width: 100%;
}