@import "../../../styles/_styles.scss";


.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 8px 0;

  button {
    outline-offset: -2px;
    font-weight: 600;
    font-size: 24px;
    border-radius: 10px;
    padding: 12px 24px;
    outline: 2px solid $secondary-color;
    min-width: 7.5vw;
  }



  .filled {
    background-color: $secondary-color;
    border: 5px solid $primary-color;
    color: $primary-color;

    &:hover {
      background-color: $primary-color;
      border: 5px solid $secondary-color;
      color: $secondary-color;
      cursor: pointer;
    }
  }

  .outlined {
    background-color: $primary-color;
    border: 5px solid $secondary-color;
    color: $secondary-color;

    &:hover {
      background-color: $secondary-color;
      border: 5px solid $primary-color;
      color: $primary-color;
      cursor: pointer;
    }
  }

  .smallButton {
    font-size: 16px;
    outline-offset: -2px;
    padding: 6px 12px;
    outline: 1px solid $secondary-color;
    min-width: 7.5vw;
    border: 5px solid $primary-color;
  }
}