.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 8px 0;
}

.buttonContainer button{
  outline-offset: -2px;
  font-weight: 600;
  font-size: 24px;
  border-radius: 10px;
  padding: 12px 24px;
  outline: 2px solid #fff;
}

.filled:hover {
  background-color: #4b43e8;
  border: 5px solid #fff;
  color: #fff;
  cursor: pointer;
}

.filled {
  background-color: #fff;
  border: 5px solid #4b43e8;
  color: #4b43e8;
}

.outlined:hover {
  background-color: #fff;
  border: 5px solid #4b43e8;
  color: #4b43e8;
  cursor: pointer;
}

.outlined {
  background-color: #4b43e8;
  border: 5px solid #fff;
  color: #fff;
}