@import "../../../styles/_styles.scss";


.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 0.5rem 0;

  button {
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 6px;
    padding: 0.6rem 1.2rem;
    min-width: 100px;
    transition: all 0.2s ease-in-out;
    border: none;
    cursor: pointer;
  }

  .filled {
    background-color: var(--highlight-color);
    color: var(--button-text-color);
    border: 2px solid transparent;

    &:hover {
      background-color: var(--primary-color);
      border: 2px solid var(--highlight-color);
      color: var(--highlight-color);
    }
  }

  .outlined {
    background-color: transparent;
    border: 2px solid var(--highlight-color);
    color: var(--highlight-color);

    &:hover {
      background-color: var(--highlight-color);
      color: var(--button-text-color);
    }
  }

  .smallButton {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
    min-width: 80px;
  }
}