$primary-color: #002b36;
$secondary-color: #fff;

$other-message-bg: #02487a;
$text-color: #fff;
$border-color: #586e75;
$timestamp-color: #93a1a1;
$highlight-color: #268bd2;
$menu-bg-color: #073642;
$menu-hover-bg: #19414b;

@mixin profilePics {
  @include dimensionsMaxDimensions(32px);
  background-color: white;
  border-radius: 50%;
  margin: 0 16px;
  object-fit: cover;
}

@mixin dimensionsMaxDimensions($n) {
  height: $n;
  width: $n;
  max-width: $n;
  max-height: $n;
}

.contactPic {
  @include profilePics;
}

.contactPicImg {
  border-radius: 50%;
  object-fit: cover;
  @include dimensionsMaxDimensions(32px);
}

.contactPicBG {
  @include dimensionsMaxDimensions(32px);
  margin: 0 16px;
  border-radius: 50%;
}