$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);

$other-message-bg: var(--other-message-bg);
$text-color: var(--text-color);
$border-color: var(--border-color);
$timestamp-color: var(--timestamp-color);
$highlight-color: var(--highlight-color);
$menu-bg-color: var(--menu-bg-color);
$menu-hover-bg: var(--menu-hover-bg);
$sender-color: var(--sender-color);

@mixin profilePics {
  @include dimensionsMaxDimensions(32px);
  background-color: white;
  border-radius: 50%;
  margin: 0 1rem;
  object-fit: cover;
}

@mixin dimensionsMaxDimensions($n) {
  height: $n;
  width: $n;
  max-width: $n;
  max-height: $n;
}

.contactPic {
  @include profilePics;
}

.contactPicImg {
  border-radius: 50%;
  object-fit: cover;
  @include dimensionsMaxDimensions(32px);
}

.contactPicBG {
  @include dimensionsMaxDimensions(32px);
  margin: 0 1rem;
  border-radius: 50%;
}