
.helpLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  margin-top: 16px;

}

.helpLinks div:hover {
  cursor: pointer;
  text-shadow: 0px 0px 8px #fff;
}


.errorMessage{
  color: #fff;
  text-shadow: 1px 1px 10px red;

}