@import "../../../styles/styles";

.helpLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.1rem;
  margin-top: 1rem;

  div {
    transition: color 0.2s ease;
    
    &:hover {
      cursor: pointer;
      color: var(--highlight-color);
      text-decoration: underline;
    }
  }
}

.errorMessage {
  color: #dc322f; // Solarized red
  font-weight: 500;
  margin-top: 0.5rem;
}