@import "../../../styles/_styles.scss";


.settingsItemContainer{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    &:hover{
        background-color: $menu-hover-bg;
        cursor: pointer;
    }

    h3{
        margin: 8px 0;
    }
   
}

.red {
    color: red;
}

.orange {
    color: orange;
}
