.container {
  width: inherit;
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* background-color: aqua; */

}

.sign {
  width: 30vw;
  height: inherit;
  box-shadow: 5px 0px 10px #4b43e8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: #fff;
  background-color: #4b43e8;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  margin: 2.5vh;

}