@import "../../../../styles/styles";


.chatItemContainer {
  font-size: 24px;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  width: 100%;

  .icons{
    display: flex;
    margin-right: 10px;
    align-items: center;
    img{
      height: 20px;
      fill: red;
    }
  }
  .chatInfo {
    width: 100%;
  }

  .chatItemProfile {
    margin: 12px 24px;
    margin-left: 0;
    display: flex;
  }

  .contactPicBG {
    @include dimensionsMaxDimensions(64px);

    margin: 12px 24px;
  }

  .contactPic {
    margin: 12px 24px;
    @include dimensionsMaxDimensions(64px);
  }

  .contactPicImg {
    @include dimensionsMaxDimensions(64px);
  }

  .chatItemMostRecentMessageSeen {
    margin: 12px 24px;
    margin-left: 0px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;

  }

  
  &:hover {
    background-color: rgba(#fff, 0.1);
  }
  
  .chatTitle {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .statusAndTime {
    display: flex;
  }
  
  .chatItemNumberOfUnreadMessages {
    background-color: $secondary-color;
    color: $primary-color;
    height: 100%;
    min-width: 16px;
    padding: 0 6px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    div{
      margin-bottom: 2px;
    }
  }
}
.currentChat
{
  background-color: rgba(#fff, 0.1);
}