@import "../../../styles/styles";

.buttonsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1.5rem;

  div:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
}

.outerContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.email {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.profilePic {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.profileContainer {
  width: 128px;
}

.noProfileBG {
  background-color: $secondary-color;
}