@import "../../../styles/styles";

.container {
  width: inherit;
  /* height: 100%; */
  display: flex;
}

.sign {
  width: 30vw;
  min-width: 500px;
  height: inherit;
  box-shadow: 5px 0px 10px $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: $secondary-color;
  background-color: $primary-color;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  // margin: 2.5vh;
}

.chatWidth {
  width: 20vw;
  justify-content: start;
}