@import "../../../styles/styles";


.formInput {
  display: flex;
  flex-direction: column;
  font-size: 1.75rem;
  width: 100%;
  font-weight: bold;

  label {
    margin: 0.5rem 0px;
  }

  input {
    border: 1px solid $primary-color;
    border-radius: 10px;
    margin: 0.5rem 0px;
    height: 3.5vh;
    box-sizing: border-box;
    font-size: 1.125rem;
    color: $primary-color;
    padding: 0.75rem;

    &:focus {
      margin: 0.5rem 0px;
      box-sizing: border-box;
      outline: 0.125rem solid $secondary-color;
      outline-offset: 0;
      border: 0.125rem solid $primary-color;
      animation-name: blinking;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes blinking {
  50% {
    outline-color: $primary-color;
  }
}
