.formInput {
  display: flex;
  flex-direction: column;
  font-size: 3vh;
  width: 100%;
  font-weight: bold;
}

.formInput label {
  margin: 8px 0px;
}

.formInput input {
  border: 1px solid #002b36;
  border-radius: 10px;
  margin: 8px 0px;
  height: 3.5vh;
  box-sizing: border-box;
  font-size: 2vh;
  color: #002b36;
  padding: 1vh;
}

.formInput input:focus {
  margin: 8px 0px;
  box-sizing: border-box;
  outline: 2px solid #fff;
  outline-offset: 0;
  border: 2px solid #002b36;
  animation-name: blinking;
  animation-duration: 1.5s;
  animation-iteration-count: 100;
}

@keyframes blinking {
  50% {
    outline-color: #002b36;
  }
}