@import "../../styles/styles";



.main {
  position: absolute;
  display: flex;
  height: 60px;
  background-color: $primary-color;
  width: 100vw;
  border-bottom: $secondary-color solid 2px;

}

.side {
  width: 20vw;
  min-width: 500px;
  border-right: $secondary-color solid 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userName {
  width: 75%;
  // margin-left: 32px;

}

.settingsButton {
  // width: 25%;
  margin-right: 32px;
  text-align: end;

  span {
  padding: 8px;

    &:hover {
      cursor: pointer;
      background-color: rgba(#fff, 0.1);
      border-radius: 4px;
    }
  }
}

.contactPic {
  background-color: unset;
}

.contactPicBG {
  background-color: $secondary-color;
}

.chatContent {
  // padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.contactNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  padding-right: 16px;

  &:hover {
    cursor: pointer;
    background-color: rgba(#fff, 0.1);
    border-radius: 4px;
  }
}